div {
  margin: 0px;
}

h1 {
  width: 100%;
  margin: 200px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #285430;
  text-align: center;
}

h3 {
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #285430;
}
.skill-row{
  width: 70%;
  margin: auto;
  text-align: left;
  line-height: 2;
}
.profile{
  width: 70%;
  margin: auto;
  text-align: left;
  line-height: 2;
}
h2 {
  padding-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #285430;
  font-weight: normal;
  text-align: center;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #285430;
}

p {
  color: #285430;
  padding-bottom: 40px;
}

hr {
  border-color: #5F8D4E;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  /* border: dotted #285430 6px; */
  height: 0;
  width: 6%;
  text-align: center;
  margin: 70px auto;
}
.buttons:hover{
background-color: #A4BE7B;
height: 220px;
width: 220px;
}
.atom {
  height: 200px;
  width: 200px;
}
.coding {
  height: 200px;
  width: 200px;
}
.EDU {
  height: 200px;
  width: 200px;
}
.atom:hover {
  height: 210px;
  width: 210px;
}
.coding:hover {
  height: 210px;
  width: 210px;
}
.EDU:hover {
  height: 210px;
  width: 210px;
}

.top {
  /*
  height: 200px;
  width: 200px;
  */
  background-color: #E5D9B6;
  padding-top: 100px;
  border: solid 0px;
  position: relative;
}

.middle-container {
  background-color: #A4BE7B;
  position: relative;
  padding-bottom: 50px;
  width: 50%;
  margin: auto;
  text-align: left;
}

.bottom-container {
  background-color: #5F8D4E;
  width: 100%;
  height: 160px;
  padding-top: 50px;
  position: relative;
}

.footer-link {
  margin: 10px;
  color: #285430;
}

.footer-link:hover {
  margin: 10px;
  color: #E5D9B6;
}

.cloud-down {
  position: absolute;
  visibility: hidden;
}

.cloud-up {
  position: absolute;
  right: 600px;
  top: 150px;
  visibility: hidden;
}

.pictures {
  height: 125px;
  width: 125px;
  border-radius: 125px;
  float: left;
  margin-right: 30px;
}

.pictures-right{
  height: 125px;
  width: 125px;
  border-radius: 125px;
  float: right;
  margin-left: 30px;
}

.contact-me {
  position: relative;
  padding-bottom: 0px;
  text-align: center;
}

#contact-info {
  color: #285430;
}

#last-comment {
  padding-bottom: 30px;
}

.btn {
  background: #4b8552;
  background-image: -webkit-linear-gradient(top, #4b8552, #285430);
  background-image: -moz-linear-gradient(top, #4b8552, #285430);
  background-image: -ms-linear-gradient(top, #4b8552, #285430);
  background-image: -o-linear-gradient(top, #4b8552, #285430);
  background-image: linear-gradient(to bottom, #4b8552, #285430);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  color: #E5D9B6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5f8d4e;
  background-image: -webkit-linear-gradient(top, #5f8d4e, #5f8a4d);
  background-image: -moz-linear-gradient(top, #5f8d4e, #5f8a4d);
  background-image: -ms-linear-gradient(top, #5f8d4e, #5f8a4d);
  background-image: -o-linear-gradient(top, #5f8d4e, #5f8a4d);
  background-image: linear-gradient(to bottom, #5f8d4e, #5f8a4d);
  text-decoration: none;
}

#last-element {
  padding-top: 10px;
}
